/* for mobile devices */
@media screen and (max-width:576px) {
.container{
    margin: 0 20px;
}
/* nav bar */
    .header-btn-container{
        display: none;
    }
    .ham-burger{
        display: block;
        cursor: pointer;
    }
    /* header container */
    .header-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-txt-container{
        width:100%;
        margin-top: 50px;
    }
    .header-title{
        font-size: 3.5rem;

    }
    .btn-container{
        display: flex;
    }
    .btn-1{
        display: none;
    }
    .btn-responsive-1{
        display: block;
    }
    .header-img-container{
        margin: 0 auto;
    }
    .div-1,.div-2{
        width: 8rem;
        height: 4rem;
        top: 10%;
        left: 55%;
    }
    .div-2{
        top: 45%;
        left: 5%;
    }
    .d-title-1{
        font-size: 1.3rem;
    }
    .d-title-2{
        font-size: 1rem;
    }
    .d-description{
        font-size: 0.6rem
    }
/* your havits */
    .your-txt-container{
        width: 100%;
    }
    .img-container{
        width: 50%;
        margin: 0 auto;
    }
    .your-img-container{
        flex-direction: column;
        gap: 30px;
    }
/* run extra */
    .run-extra{
        flex-direction:column ;
        margin-top: 50px;
    }
    .run-txt-container,.run-img-container{
        width: 100%;
    }
    .btn-responsive-2{
        width: 100%;
        margin-bottom: 30px;
    }
/* bmi container */
.bmi-txt-container{
    width: 90%;
    margin-top: 50px;
}
    .bmi-container{
        flex-direction: column;
    }
    .bmi-box{
        width: 100%;
    }
    table{
        margin-top: 20px;
        margin-bottom: 50px;
    }
/* meet our team */
    .our-team{
        margin-top: 50px;
    }
    .team-image-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-image{
        width: 100%;
        height:350px;
    }
    .your-txt-container{
        width: 90%;
    }
    /* challange part */
    .input-container{
        flex-direction: column;
    }
/* footer section */
    .footer-txt-container{
        flex-direction: column;
    }
    .fitness{
        width: 80%;
    }
    .g-list-item li{
        margin: 10px 0;
    }
    .get-started-2{
        margin-top: 20px;
    }

}